<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout"
>
    <div layout:fragment="content">
        <div class="container">
            <tr th:each="board : ${boards}">
                <div class="card m-4">
                    <div class="card-body">
                        <h4 th:class="card-title" th:text = "${board.title}"></h4>
                        <a th:href="@{/board/} + ${board.id}" th:text = "상세보기"class="btn btn-primary"></a>
                    </div>
                </div>
            </tr>

            <nav>
                <ul class="pagination justify-content-center">
                <span>
                    <span th:if = "${boards.first}">
                        <li class="page-item disabled"><a class="page-link" th:href="@{/?page=} + ${boards.number-1}">Previous</a></li>
                    </span>
                    <span th:unless = "${boards.first}">
                        <li class="page-item"><a class="page-link" th:href="@{/?page=} + ${boards.number-1}">Previous</a></li>
                    </span>
                </span>
                    <span th:if = "${boards.last}">
                        <li class="page-item disabled"><a class="page-link" th:href="@{/?page=} + ${boards.number+1}">Next</a></li>
                    </span>
                    <span th:unless = "${boards.last}">
                        <li class="page-item"><a class="page-link" th:href="@{/?page=} + ${boards.number+1}">Next</a></li>
                    </span>
                <span>
                </span>
                </ul>
            </nav>
        </div>
    </div>
</html>
